
<h1 class="page-title">Modifier mon compte</h1>

<div class="log-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  hint: "Laisser vide si vous ne souhaitez pas le modifier",
                  required: false,
                  input_html: { autocomplete: "first_name" }, label: "Prénom" %>

      <%= f.input :last_name,
                  hint: "Laisser vide si vous ne souhaitez pas le modifier",
                  required: false,
                  input_html: { autocomplete: "last_name" }, label: "Nom" %>

      <%= f.input :email, required: true, autofocus: true, label: "Adresse e-mail"  %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :current_password,
                  hint: "Votre mot de passe d'origine",
                  required: true,
                  input_html: { autocomplete: "current-password" }, label: "Mot de passe actuel"  %>
      <%= f.input :password,
                  hint: "Laisser vide si vous ne souhaitez pas le modifier",
                  required: false,
                  input_html: { autocomplete: "new-password" }, label: "Nouveau mot de passe" %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" }, label: "Confirmer le nouveau mot de passe" %>
      <%= f.input :photo,
                  as: :file,
                  required: false,
                  input_html: { autocomplete: "new-password" }, label: "Photo de profil" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Enregistrer", class: "cbtn" %>
    </div>
  </div>
<% end %>

<!-- <h4>Unhappy ?</h4>

  <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cbtn"%>

<%= link_to "Back", :back %> -->