<div id="booking-form" class="contain">
  <h1>Inscription</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true, 
                  label: "Prénom" %>
      <%= f.input :last_name,
                  required: true,
                  label: "Nom" %>
      <%= f.input :age, 
                  label: "Âge", 
                  required: true,  
                  input_html: { min: '18', step: 1 } %>
      <%= f.input :description, 
                  required: true%>
      <%= f.input :photo, 
                  required: true,
                  as: :file, 
                  label: "Photo de profil" %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: "Mot de passe" %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: "Confirmez le mot de passe" %>

      <%= f.submit value: "Inscription", class: "cbtn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>