<div class="title-container">
  <h1>Nous avons ce qu'il te faut <%= current_user.first_name if user_signed_in?%> !</h1>
  <p><%= @friends.count %> amis à louer</p>
</div> 
<section class="custom-contain">
  <ul class="friends-list">
    <% @friends.each do |friend| %>
    <a href="<%= friend_path(friend) %>">
      <li>
        <img src="https://i.pravatar.cc/">
        <h2><%= friend.first_name %> <%= friend.last_name %>
      </li>
    </a>
  <% end %>
    </ul>
    <%= link_to "+", new_friend_path(@friend) %>
</section>
