<div id="booking-form" class="contain">
<h1>Publier une annonce</h1>
  <%= simple_form_for @friend do |f| %>
    <%= f.input :first_name, label: "Prénom" %>
    <%= f.input :last_name, label: "Nom" %>
    <%= f.input :age, label: "Âge", input_html: { min: '18', step: 1 } %>
    <%= f.input :gender, label: "Sexe", :collection => [['Femme',1],['Homme',2]]%>
    <%= f.input :description %>
    <%= f.input :price, label: "Prix par heure" %>
    <%= f.input :address, label: "Adresse" %>
    <%= f.input :photo, as: :file, label: "Photo de profil" %>
    <%= f.submit value: "Créer", class: "cbtn" %>
  <% end %>
</div>
