<h1 class="page-title">Créer un ami</h1>

<div class="log-form">
  <%= simple_form_for [@friend] do |f| %>

      <%= f.input :first_name, required: true, autofocus: true,label: "Prénom" %>
      <%= f.input :last_name, required: true, label: "Nom" %>
      <%= f.input :age, label: "Âge", required: true, input_html: { min: '18', step: 1 } %>
      <%= f.input :gender, required: true, label: "Sexe", :collection => [['Femme','Femme'],['Homme','Homme']]%>
      <%= f.input :description, required: true %>
      <%= f.input :price, required: true, label: "Prix par heure" %>
      <%= f.input :address, required: true, label: "Adresse" %>
      <%= f.input :photo, required: true, as: :file, label: "Photo de profil" %>
      <%= f.submit value: "Créer un ami", class: "cbtn" %>

  <% end %>
</div>
