<div id= "show-friends">
  <div class="friend-show">
    <h1>Découvrez <%= @friend.first_name%></h1>
    <div class="friend-information">
      <img src="https://i.pravatar.cc/">

      <div class="information">
        <h2> <%= @friend.first_name%> <%= @friend.last_name.upcase %> </h2>
        <h3> <%= @friend.age %> ans - <%= @friend.gender%></h3>
        <h4> <%= @friend.address %></h4>
        <p> <%= @friend.description %></p>
        <h2> <%= @friend.price %> € /heure </h2>

        <div class="actions">
          <%= link_to 'Réserver' , new_friend_booking_path(@friend), class: "cbtn" %>
          <%= link_to 'Profil propriétaire', user_path(@friend.user), class: "cbtn" %>
        </div>
      </div>
    </div>
  </div>
</div>
