<div class="booking-show">
  <h1>Vous avez <%= current_user.bookings.count %> réservation<%= 's' if current_user.bookings.count > 1 %> </h1>
  
 <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
    <div class= "booking-list">
      <h2>Le <%= I18n.localize(booking.date, format: :long) %></h2>
      <p>Durée : <%= booking.duration %> heure(s)</p>
      <p>Adresse : <%= booking.address %></p>
      <div id="show-booking">
        <%= link_to "Annuler la réservation", booking_path(booking), class: "cbtn", method: :delete,data: { confirm: "Voulez-vous vraiment annuler ce rendez-vous ?" } %>
        <%= link_to "Voir ma réservation", booking_path(booking), class: "cbtn" %>
      </div>
    <% end %>
  <% end %> 
  </div> 
</div>
</div>
