<div class="contain">
  <% if @bookings.count > 1 %>
    <h1>Vous avez <%= @bookings.count %> réservations</h1>
  <% else %>
    <h1>Vous avez <%= @bookings.count %> réservation</h1>
  <% end %>

  <% @bookings.each do |booking| %>
    <h2>Le <%= booking.date.day %> <%= booking.date.month %> <%= booking.date.year %></h2>
    <p>Durée : <%= booking.duration %> heure(s)</p>
    <p><%= booking.address %></p>
  <% end %>
</div>
