<div class="contain">
  <h1>Vous avez <%= current_user.bookings.count %> réservation <%= 's' if current_user.bookings.count > 1 %> </h1>

  <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <h2>Le <%= I18n.localize(booking.date, format: :long) %></h2>
      <p>Durée : <%= booking.duration %> heure(s)</p>
      <p><%= booking.address %></p>
    <% end %>
  <% end %>
</div>
