<section class="booking-show">
		<h1>Ta réservation</h1>
		<div class="show-friend-information">
			<img src="https://i.pravatar.cc/">
			<div class="information">
				<h2>Ton pote t'attends le :</h2>
				<h2><%= I18n.localize(@booking.date, format: :long) %></h2>
				<div class="information">
					<p>Pour <%= @booking.duration %> heures</p>
					<p>Le lieu de rencontre : <%= @booking.address %></p>
					<p>Le total est de : <%= @booking.friend.price * @booking.duration %> €</p>
            <div id="show-booking"> 
					    <%= link_to "Annuler", booking_path(@booking.id), class: "cbtn", method: :delete,data: { confirm: "Voulez-vous vraiment annuler ce rendez-vous ?" } %>
					    <%= link_to "Mes autres meetings",  bookings_path, class: "cbtn" %>
					  </div>	
				</div>			
			</div>
		</div>
	</section>
