<h1> Le boss proprio</h1>
  <h2> <%= @user.first_name%> - <%= @user.last_name%> </h2>
  <h3> <%= @user.age %> ans </h3>
  <p> <%= @user.description %></p>
<% @user.friends.each do |friend| %>
      <ul>
        <li><%= friend.first_name %>  - <%= friend.last_name %></li>
        <li><%= link_to 'Découvre ton pote', friend_path(friend)  class: "cbtn" %></li>
      </ul>
  <%= link_to "Va voir ailleurs si j'y suis", friends_path(@friend)  class: "cbtn" %>
<% end %>
