<!DOCTYPE html>
<html>
  <head>
    <title>AirFriend</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
    'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-lewagon">
        <a class="navbar-brand" href="/">
          <img
            src="https://res.cloudinary.com/dd5byfbax/image/upload/v1621416054/logo_airfriend_skaojb.png"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/friends">Louer un ami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/friends/new">Créer un ami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bookings">Mes réservations</a>
            </li>
          </ul>
          <% if user_signed_in? %>
            <div class="nav-item dropdown">
                <p class="user-name"> <%= current_user.first_name  %> </p>
                <img
                  class="avatar dropdown-toggle"
                  id="navbarDropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  <% @photo = "https://i.pravatar.cc/300" %>
                  <% @photo = cl_image_path current_user.photo.key, height: 200, crop: :fill if current_user.photo.attached? %>
                  src="<%= @photo %>"
                />
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="navbarDropdown"
                >

                  <%= link_to "Mon compte",   edit_user_registration_path(@user), class: "dropdown-item"%>
                  <a class="dropdown-item" href="#">Mes amis</a>
                  <%= link_to "Se déconnecter", destroy_user_session_path(@user), method: :delete, class: "dropdown-item"%>
                </div>
            </div>
            <% else %>
              <div class="sessions-links">
              <a href=" <%= new_user_registration_path %> ">S'inscrire</a>
              <a href=" <%= new_user_session_path %> ">Se connecter</a>
              </div>
            <% end %>
        </div>
    </nav>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
     <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
    </footer>
  </body>
</html>
